<p id="notice"><%= notice %></p>

<p>
  <%= image_tag "https://graph.facebook.com/#{@post.from_id}/picture" %>
  <%= @post.from_name %>
</p>

<p>
  <%= @post.message %>
</p>

<p>
  <%= @post.created_time %> ago.
</p>

<p>
  <%= @post.likes %> likes.
</p>

<p>
  <b>Link:</b>
  <%= link_to "Video", @post.link, :target => '_blank' %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
